## Kaggle submission

In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r test
%store -r predictions

In [3]:
to_submit = pd.DataFrame()

In [4]:
to_submit['Id'] = test['id']

In [5]:
to_submit['SalePrice'] = predictions

In [6]:
to_submit.head()

     Id      SalePrice
0  2658  131291.962713
1  2718  156562.904149
2  2414  193478.262498
3  1989  110695.384966
4   625  171170.374723

In [7]:
to_submit.to_csv('../datasets/to_submit.csv', index = False)